apiVersion: apps/v1
kind: Deployment
metadata:
  name: login-app
  namespace: itog
spec:
  replicas: 1
  selector:
    matchLabels:
      app: login
  template:
    metadata:
      labels:
        app: login
    spec:
      containers:
        - name: login
          image: wwitchqq/login-service:latest
          envFrom:
            - configMapRef:
                name: login-config
          ports:
            - containerPort: 8080
              protocol: TCP
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "500m"
