apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-app
  namespace: itog
spec:
  replicas: 4
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: wwitchqq/api-service:latest
          envFrom:
            - configMapRef:
                name: api-config
          ports:
            - containerPort: 8080
              protocol: TCP
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "500m"